<form>
  <app-item-selector [items]="weapons | async"></app-item-selector>
  <h6 class="center center-horizontal">Rifle</h6>

  <div class="center center-horizontal">
    <div>
      <app-item-selector
        [items]="ammunition | async"
        [height]="40"
      ></app-item-selector>
      <h6 class="center center-horizontal">Ammunition</h6>
    </div>

    <div>
      <app-item-selector
        [items]="attachments | async"
        [height]="40"
      ></app-item-selector>
      <h6 class="center center-horizontal">Attachment</h6>
    </div>
  </div>
  <div class="center center-horizontal">
    <button mat-button [mat-dialog-close]="weaponData" cdkFocusInitial>
      Ok
    </button>
  </div>
</form>
