<form>
  <app-item-selector [items]="weapons | async"></app-item-selector>
  <button mat-button [mat-dialog-close]="weaponData" cdkFocusInitial>
    Ok
  </button>
</form>
<!-- <mat-card class="example-card">
  <form>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-form-field>
          <input matInput value="Disco party!" placeholder="Message" #message />
        </mat-form-field>
      </div>
      <mat-card-title>{{ data.name }}</mat-card-title>
      <mat-card-subtitle>Rifle</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="data.image" alt="Photo {{ data.name }}" />
    <mat-card-actions class="center">
      <button mat-button [mat-dialog-close]="weaponData" cdkFocusInitial>
        Ok
      </button>
    </mat-card-actions>
  </form>
</mat-card> -->
